<div class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                type="button"
                data-dismiss="modal">
          {{fa-icon "times"}}
        </button>
        <h4 class="modal-title">{{t title}}</h4>
      </div>
      <div class="modal-body">
        {{{content}}}
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal">
          {{t "modal.close"}}
        </button>
      </div>
    </div>
  </div>
</div>
