html,
body {
  height: 100%; }

#doc-title-editor {
  position: absolute;
  top: 0;
  height: 50px;
  left: 0;
  right: 0; }

.edit-split-layout {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  /*
  @media (max-width: $grid-float-breakpoint) {
    top: $navbar-height-collapsed;
  }
  */ }

.split-layout {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  /*
  .preview-pane {
    overflow-y: auto;
    word-break: break-word;

    @import 'app/styles/asciidoctor';
  }

  .html-preview-pane {
    border: none;
    border-radius: 0;
    overflow-x: auto;
    overflow-y: auto;
    margin: 0;
  }
  */ }
  .split-layout .split-layout-left {
    flex: 0 0 auto;
    width: 50%; }
  .split-layout .split-layout-resize-handle {
    flex: 0 0 auto;
    width: 5px;
    background: #ddd;
    cursor: col-resize; }
  .split-layout .split-layout-right {
    flex: 1 1 auto;
    width: 50%;
    padding: 0 10px; }

.ace-editor {
  position: relative;
  /* font-size: $font-size-base; */ }

.preview-container {
  height: 100%;
  overflow-y: scroll; }
