/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                           Copyright 2016 Chuan Ji                         *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

$doc-title-editor-height: 50px;

#doc-title-editor {
  position: absolute;
  top: $navbar-height;
  height: $doc-title-editor-height;
  left: 0;
  right: 0;
}

#edit-layout {
  position: absolute;
  top: ($navbar-height + $doc-title-editor-height);
  bottom: 0;
  left: 0;
  right: 0;

  @media (max-width: $grid-float-breakpoint) {
    top: $navbar-height-collapsed;
  }
}
