/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                           Copyright 2016 Chuan Ji                         *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

html,
body {
  height: 100%;
}

.navbar {
  border: none;
}

$navbar-brand-img-height: 14px;
.navbar-brand > img {
  height: $navbar-brand-img-height;
  margin-top: (
      ($navbar-height - $navbar-brand-img-height) / 2 -
      $navbar-padding-vertical);
}

.navbar-toggle {
  color: #fff;
}

.navbar #header-menu {
  li.dropdown > a {
    text-transform: uppercase;
    letter-spacing: 1px;

    @media (min-width: $grid-float-breakpoint) {
      span.icon-label {
        display: none;
      }
    }
  }
  li.dropdown-header {
    text-transform: uppercase;
    letter-spacing: 1.25px;

    @media (max-width: $grid-float-breakpoint) {
      color: #fff;
      opacity: 0.85;
    }
  }

  ul.dropdown-menu .fa {
    color: $gray;

    &.fa-toggle-on {
      color: $brand-success;
    }
    &.fa-toggle-off {
      color: $gray-light;
    }
  }
}

#loading-banner {
  padding-top: ($navbar-height * 3);
  text-align: center;
}
