/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                           Copyright 2016 Chuan Ji                         *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

$navbar-brand-img-height: 30px;
.navbar-brand > img {
  height: $navbar-brand-img-height;
  margin-top: (
      ($navbar-height - $navbar-brand-img-height) / 2 -
      $navbar-padding-vertical);
}

.navbar-toggle {
  color: #fff;
}
