$header-height: 64px;
$header-collapsed-height: 48px;
$header-collapsed-breakpoint: 600px;

.header-logo {
  height: 24px;
  margin-left: -6px;

  @media (max-width: $header-collapsed-breakpoint) {
    height: 20px;
  }
}
