/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                           Copyright 2016 Chuan Ji                         *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.ember-view.pane-layout {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .editor-pane{
    flex: 0 0 auto;
    width: 50%;
  }
  .resize-handle {
    flex: 0 0 auto;
    width: 7px;
    background: $gray-lighter;
    cursor: col-resize;
  }
  .preview-pane {
    flex: 1 1 auto;
    width: 50%;
    padding: 10px;
  }
}

