<link id="highlightjs-css-link" rel="stylesheet"
      href="assets/highlightjs/{{settings.highlightjsTheme}}.css">

<div class="editor-pane pane">
  {{ace-editor doc=doc width=editorPaneWidth height=editorPaneHeight
      scrollState=editorScrollState}}
</div>
<div class="resize-handle ui-resizable-handle ui-resizable-e"></div>
<div class="preview-pane pane">
  {{{doc.compiledBody}}}
</div>
